@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/spacings" as *;

.budgets {
  grid-area: budgets;
  padding: 2rem;
  background-color: $white;
  border-radius: 0.75rem;
  &__container {
    @include flex-between(0);
    &-title {
      @include font(1.25rem, 120%, normal, $clr-grey-900, $ff-public, 700);
      &--vertical {
        display: none;
      }
    }
    &-link {
      text-decoration: none;
      @include flex-center(0.75rem);
      &--vertical {
        display: none;
      }
    }
  }
  &__see-details {
    @include font(0.875rem, 150%, normal, $clr-grey-500, $ff-public, 400);
    &--vertical {
      display: none;
    }
  }
  &__chart-info {
    @include flex-start(1rem);
    &--vertical {
      flex-direction: column;
    }
  }
  &__categories {
    @include flex-col(1rem);
    &--vertical {
      align-self: flex-start;
      width: 100%;
    }
  }
  &__category {
    padding-left: 1rem;
    @include flex-col(0.249rem);
    &--vertical {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    &-value {
      @include font(0.875rem, 150%, normal, $clr-grey-500, $ff-public, 700);
      display: block;
    }
  }
  &__category-title {
    @include font(0.75rem, 150%, normal, $clr-grey-500, $ff-public, 400);
  }
  @include border-color(".budgets__category");

  &__summary-title {
    @include font(1rem, 120%, normal, $clr-grey-900, $ff-public, 700);
    align-self: flex-start;
    &--horizontal {
      display: none;
    }
  }
}
