@use "../abstracts/colors" as *;
@use "../abstracts/spacings" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/fonts" as *;

.recurring-bills {
  padding: 2rem;
  grid-area: bills;
  background-color: $white;
  border-radius: 0.75rem;
  &__container {
    @include flex-between(0);
    &-title {
      @include font(1.25rem, 120%, normal, $clr-grey-900, $ff-public, 700);
    }
    &-link {
      text-decoration: none;
      @include flex-center(0.75rem);
      span {
        @include font(0.875rem, 150%, normal, $clr-grey-500, $ff-public, 400);
      }
    }
  }
  &__list {
    @include flex-col(0.741rem);
    padding-top: 1.991rem;
    @include border-color(".recurring-bills__list-item");

    &-item {
      background-color: $clr-beige-100;
      width: 100%;
      border-radius: 0.5rem;
      @include flex-between(0);
      padding: 1.25rem 1rem;
      &-title {
        @include font(0.875rem, 150%, normal, $clr-grey-500, $ff-public, 400);
      }
      &-value {
        @include font(0.875rem, 150%, normal, $clr-grey-900, $ff-public, 700);
      }
    }
  }
}
