@use "@/scss/abstracts/colors" as *;
@use "@/scss/abstracts/fonts" as *;
@use "@/scss/abstracts/mixins" as *;
@use "@/scss/abstracts/spacings" as *;

.latest-spending {
  background-color: $clr-beige-100;
  border-radius: 0.75rem;
  padding: 1.5rem;
  margin-top: 1.5rem;
  &__latest-title {
    @include font(1rem, 150%, normal, $clr-grey-900, $ff-public, 700);

    &-container {
      display: flex;
      justify-content: space-between;
    }
  }
  &__item-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
  }
  &__personal-info {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__transaction-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
  }
  &__avatar {
    border-radius: 50%;
  }
  &__border-div {
    border-bottom: 1px solid $clr-grey-400;
    opacity: 0.15;
    margin-top: 1.5rem;
  }

  &__see-all {
    background: none;
    border: none;
    cursor: pointer;
    color: $clr-grey-300;
    text-decoration: none;
    @include font($fs-sm, 150%, normal, $clr-grey-400, $ff-public, 400);
    &:hover {
      color: black;
    }
  }

  &__name {
    @include font($fs-xs, 150%, normal, $clr-grey-900, $ff-public, 700);
  }

  &__transaction-amount {
    @include font($fs-xs, 150%, normal, $clr-grey-900, $ff-public, 700);
    padding-bottom: 0.25rem;
  }
  &__transaction-date {
    @include font($fs-xs, 150%, normal, $clr-grey-400, $ff-public, 400);
  }
}
