@use "@/scss/abstracts/colors" as *;
@use "@/scss/abstracts/fonts" as *;
@use "@/scss/abstracts/mixins" as *;
@use "@/scss/abstracts/spacings" as *;

.budgets-page {
  padding: map-get($spacings, "400");
  width: 100%;
  @include breakpoint(small) {
    position: relative;
  }
  &__logout-btn {
    @include breakpoint(small) {
      @include button-reset;
      @include button(
        $white,
        $clr-grey-900,
        0.438rem,
        1px solid transparent,
        1rem
      );
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.03);
      }
    }
    display: none;
    @include breakpoint(medium) {
      display: none;
    }
  }
  &__title {
    @include font(2rem, 120%, normal, $clr-grey-900, $ff-public, 700);
    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      padding-bottom: 1.973rem;
    }
  }
  &__main-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    @include breakpoint(small) {
      flex-direction: column;
    }
  }

  &__budgets-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 2;
  }

  &__add-budget {
    @include button-reset;
    @include button(
      $white,
      $clr-grey-900,
      0.438rem,
      1px solid transparent,
      1rem
    );
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.03);
    }
    @include breakpoint(small) {
      position: fixed;
      bottom: 5rem;
      right: 1rem;
      border-radius: 100%;
    }
    span {
      font-family: $ff-public;
      @include breakpoint(small) {
        display: none;
      }
    }
  }
}
