@use "../abstracts/colors" as *;
@use "../abstracts/spacings" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/fonts" as *;

.budgets-page {
  padding: map-get($spacings, "400");
  width: 100%;
  &__title {
    @include font(2rem, 120%, normal, $clr-grey-900, $ff-public, 700);
    padding-bottom: 1.973rem;
  }
  &__main-container {
    display: flex;
    gap: 2rem;
  }
}
