.login {
  padding: 0;
  @include breakpoint(small) {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    min-height: 100vh;
  }
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin: 0 auto;
  &__logo {
    @include breakpoint(small) {
      display: block;
      padding: 1.5rem;
      border-bottom: 1px solid $clr-grey-900;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
    }
    display: none;
  }
}
