$clr-beige-500: rgb(152, 144, 139);
$clr-beige-100: rgb(248, 244, 240);

$clr-grey-900: rgb(32, 31, 36);
$clr-grey-500: rgb(32, 31, 36);
$clr-grey-300: rgb(179, 179, 179);
$clr-grey-100: rgb(242, 242, 242);

$green: rgb(39, 124, 120);
$yellow: rgb(242, 205, 172);
$cyan: rgb(130, 201, 215);
$navy: rgb(98, 96, 112);
$red: rgb(201, 71, 54);
$purple: rgb(130, 108, 176);

$purple-light: rgb(175, 129, 186);
$turquoise: rgb(89, 124, 124);
$brown: rgb(147, 103, 79);
$magenta: rgb(147, 79, 111);
$blue: rgb(63, 130, 178);
$navy-green: rgb(151, 160, 172);
$army-green: rgb(127, 145, 97);
$gold: rgb(202, 179, 97);
$orange: rgb(190, 108, 73);

$white: rgb(255,255,255);