@use "./colors" as *;
@use "./variables" as *;

@mixin flex-center($gap) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin flex-between($gap) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gap;
}

@mixin flex-start($gap) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: $gap;
}

@mixin flex-around($gap) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: $gap;
}

@mixin flex-evenly($gap) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: $gap;
}

@mixin flex-col($gap) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: $gap;
}

@mixin font(
  $size,
  $lineHeight,
  $letterSpacing,
  $color: $clr-grey-900,
  $ff,
  $fw: 400
) {
  font-size: $size;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  color: $color;
  font-family: $ff;
  font-weight: $fw;
}

@mixin button($color, $bg, $radius, $border, $padding) {
  color: $color;
  background-color: $bg;
  border-radius: $radius;
  border: $border;
  padding: $padding;
}

@mixin button-reset {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

@mixin breakpoint($point) {
  @if $point == medium {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  } @else if $point == small {
    @media (max-width: 767px) {
      @content;
    }
  }
}

@mixin border-color($name) {
  @for $i from 1 through length($pot-border-colors) {
    $color: map-get($pot-border-colors, $i);

    #{$name}:nth-child(#{$i}) {
      border-left: 5px solid #{$color};
    }
  }
}
