@use "./colors" as *;

$pot-border-colors: (
  1: $green,
  2: $cyan,
  3: $navy,
  4: $yellow,
);

$budget-colors: (
  green: rgb(39, 124, 120),
  yellow: rgb(242, 205, 172),
  cyan: rgb(130, 201, 215),
  navy: rgb(98, 96, 112),
  red: rgb(201, 71, 54),
  purple: rgb(130, 108, 176),
);
