@use "../abstracts/colors" as *;
@use "../abstracts/fonts" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/spacings" as *;

.page-wrapper {
  background-color: $clr-beige-100;
  min-height: 100vh;
  font-family: $ff-public;
  // @include breakpoint(small) {
  //   position: relative;
  // }
}
