@use "@/scss/abstracts/colors" as *;
@use "@/scss/abstracts/fonts" as *;
@use "@/scss/abstracts/mixins" as *;
@use "@/scss/abstracts/spacings" as *;

.pots {
  background-color: $white;
  padding: 2rem;
  border-radius: 0.75rem;
  grid-area: pots;
  &__container {
    @include flex-between(0);
    padding-bottom: 1.236rem;
    &-title {
      @include font(1.25rem, 120%, normal, $clr-grey-900, $ff-public, 700);
    }
  }

  &__link {
    text-decoration: none;
    @include flex-center(0.75rem);
    @include font(0.875rem, 150%, normal, $clr-grey-500, $ff-public, 400);
  }

  &__content {
    @include flex-start(1.236rem);
    flex-wrap: wrap;
  }

  &__content-savings {
    padding: 1rem 5.563rem 1rem 1rem;
    border-radius: 0.75rem;
    background-color: $clr-beige-100;
    @include flex-start(1rem);

    &-title {
      @include font(0.875rem, 150%, normal, $clr-grey-500, $ff-public, 400);
    }

    &-value {
      @include font(2rem, 120%, normal, $clr-grey-900, $ff-public, 700);
    }
  }

  &__content-total {
    @include flex-start(1rem);
    flex-wrap: wrap;
  }

  &__content-pot {
    padding-left: 1rem;
    &-title {
      @include font(0.75rem, 150%, normal, $clr-grey-500, $ff-public, 400);
    }

    &-value {
      @include font(0.875rem, 150%, normal, $clr-grey-900, $ff-public, 700);
    }
  }
  @include border-color(".pots__content-pot");
}
