@use "@/scss/abstracts/colors" as *;
@use "@/scss/abstracts/fonts" as *;
@use "@/scss/abstracts/mixins" as *;
@use "@/scss/abstracts/spacings" as *;

.new-pot-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 999;
  @include flex-center(0);
  &__container {
    background-color: $white;
    max-width: 560px;
    border-radius: 0.75rem;
    padding: 2rem;

    &-title-button {
      @include flex-between(0);
      align-items: center;
      padding-bottom: 1.25rem;
    }

    &-title {
      @include font(2rem, 120%, normal, $clr-grey-900, $ff-public, 700);
    }

    &-info {
      @include font(0.875rem, 150%, normal, $clr-grey-400, $ff-public, 400);
      padding-bottom: 1.25rem;
    }

    &-close-btn {
      @include button-reset;
    }
    &-form {
      @include flex-col(1rem);

      &-btn {
        width: 100%;
        @include button-reset;
        @include button(
          $white,
          $clr-grey-900,
          0.5rem,
          1px solid $clr-grey-900,
          1rem
        );
        @include font(0.875rem, 150%, normal, $white, $ff-public, 700);
      }
    }

    &-form-input {
      @include flex-col(0.25rem);
      width: 100%;

      label {
        @include font(0.75rem, 150%, normal, $clr-grey-400, $ff-public, 700);
      }

      input,
      select {
        margin-bottom: 1rem;
        display: block;
        width: 100%;
        padding: 0.75rem 1.25rem;
        border-radius: 0.5rem;
        border: 1px solid $clr-grey-200;
        @include font(0.875rem, 150%, normal, $clr-grey-500, $ff-public, 400);
      }

      #theme {
        option {
          width: 1rem;
          height: 1rem;
          border-radius: 100%;
        }
      }
    }
  }
}
