&__category {
  padding-left: 1rem;
  @include flex-col(0.249rem);
  &--vertical {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &-value {
    @include font(0.875rem, 150%, normal, $clr-grey-500, $ff-public, 700);
    display: block;
  }
}
&__category-title {
  @include font($fs-sm, 150%, normal, $clr-grey-400, $ff-public, 400);
}
// @include border-color(".budgets__category");

&__summary-title {
  @include font(1rem, 120%, normal, $clr-grey-900, $ff-public, 700);
  align-self: flex-start;
  &--horizontal {
    display: none;
  }
}
