@use "@/scss/abstracts/colors" as *;
@use "@/scss/abstracts/fonts" as *;
@use "@/scss/abstracts/mixins" as *;
@use "@/scss/abstracts/spacings" as *;

.budget-balance {
  display: flex;
  justify-content: flex-start;
  gap: 5rem;
  margin-top: 1rem;

  &__spent {
    width: 50%;
    display: flex;
    gap: 0.5rem;
    &-info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &-marker {
      width: 5px;
      height: 100%;
      border-radius: 5px;
    }
  }
  &__remaining {
    width: 50%;
    display: flex;
    gap: 0.5rem;
    &-info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &-marker {
      width: 5px;
      height: 100%;
      background-color: $clr-beige-100;
      border-radius: 5px;
    }
  }
}
