@use "@/scss/abstracts/colors" as *;
@use "@/scss/abstracts/fonts" as *;
@use "@/scss/abstracts/mixins" as *;
@use "@/scss/abstracts/spacings" as *;

.budget-card {
  background-color: $white;
  border-radius: 0.75rem;
  padding: 2rem;
  position: relative;

  &__category {
    display: flex;
    gap: 1rem;
    &-container {
      display: flex;
      justify-content: space-between;
    }

    &-title {
      @include font(1.25rem, 120%, normal, $clr-grey-900, $ff-public, 700);
    }
  }

  &__maximum-text,
  &__maximum-amount {
    @include font($fs-sm, 150%, normal, $clr-grey-400, $ff-public, 400);
  }

  &__color-dot {
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  &__edit-budget {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  &__maximum-container {
    @include font(1rem, 150%, normal, $clr-grey-500, $ff-public, 400);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &__edit-modal {
    width: 140px;
    height: 40px;
    background: $clr-beige-100;
    border: 1px solid transparent;
    position: absolute;
    top: 55px;
    right: 34px;
    border-radius: 10px;
  }
  &__delete-budget-button {
    background: none;
    border: 1px solid transparent;
    padding: 0.5rem;
    cursor: pointer;
    span {
      font-family: $ff-public;
      color: rgb(215, 17, 17);
    }
  }
}
